.settings
webmodule/.settings/
webmodule/release.properties
release.properties
pom.xml.releaseBackup
webmodule/pom.xml.releaseBackup
webmodule/src/main/resources/web.properties
webmodule/target/
utilities/target
utilities/.settings
target/
documentacion/target
common/target
common/.settings

