<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="0.2 1.0"
    codebase="$$codebase"
    href="$$name">
  <information>
  
        <icon href="emergency-icon-32.png" width="32" height="32"/>
  
#if($project.name)
    <title>$project.name</title>
#end
#if($project.organization.name)
    <vendor>$project.organization.name $project.organization.url</vendor>
#end
#if($project.Url)
    <homepage href="$project.Url"/>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
#if($offlineAllowed)
    <offline-allowed/>
#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se version="$j2seVersion"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>