<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
 
  <rabbit:connection-factory id="connectionFactory" host="173.205.188.166" virtual-host="rescue" username="appserver" password="123456" />
<!--   <rabbit:admin connection-factory="connectionFactory" /> -->
  <!-- >rabbit:queue name="testqueue" /-->
  <!-- rabbit:direct-exchange name="test exchange">
	<rabbit:bindings>
		<rabbit:binding queue="testqueue"></rabbit:binding>
	</rabbit:bindings>
  </rabbit:direct-exchange-->
  
  
  <rabbit:fanout-exchange name="ticket_update" />  
 
   <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="ticket_update"/> 
</beans>