<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
    xmlns              = "http://www.springframework.org/schema/security"
    xmlns:beans        = "http://www.springframework.org/schema/beans"
    xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation = "http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                          http://www.springframework.org/schema/security
                          http://www.springframework.org/schema/security/spring-security-3.1.xsd">

   <global-method-security pre-post-annotations="enabled">
<!-- 		<expression-handler ref="expressionHandler"/> -->
   </global-method-security>
	
	<!-- Se debe permitir el ingreso a la página de login y los recursos (imágenes, css, etc).  -->
	<http security="none" pattern="/favicon.ico"/>
	<http security="none" pattern="/css/**"/>
	<http security="none" pattern="/img/**"/>
	<http security="none" pattern="/tiles/**"/>
	<http security="none" pattern="/hessian/SigninService**"/>
	<http security="none" pattern="/burlap/SigninService**"/>
	<http security="none" pattern="/static/**"/>
	<http security="none" pattern="/cloud/**"/>
	<http security="none" pattern="/account/signin.html"/>
	<http security="none" pattern="/rest/**"/>
	

   <http use-expressions="true">
   		<intercept-url pattern="/resource/**" access="hasRole('RESOURCE')"/>
    	<intercept-url pattern="/role/**" access="hasRole('USER_MANAG')"/>
    	<intercept-url pattern="/user/**" access="hasRole('USER_MANAG')"/>
    	<intercept-url pattern="/config/**" access="hasRole('CONFIG')"/>
    	<intercept-url pattern="/mongo/**" access="hasRole('MONGO_CONSOLE')"/>
    	<intercept-url pattern="/sql/**" access="hasRole('SQL_CONSOLE')"/>
    	<intercept-url pattern="/shp/**" access="hasRole('GEO_MANAGER')"/>
    	<intercept-url pattern="/file/**" access="hasRole('FILE_UPLOAD')"/>
    	
    	<!--  Para todas las otras url se debe estar autenticado. -->
        <intercept-url pattern="/**" access="isAuthenticated()" />
		<form-login 
			login-page="/account/signin.html" 
			authentication-failure-url="/account/signin.html" 
			username-parameter="username"
			password-parameter="password" />
		<logout />
        <remember-me key="rescuemeApp" services-ref="rememberMeServices"/>
        
        <custom-filter after="REMEMBER_ME_FILTER" ref="expiredSessionFilter" />
        
    </http>
    
    <authentication-manager>
        <authentication-provider user-service-ref="userStore">
        	<password-encoder hash="sha"/>
    	</authentication-provider>
    </authentication-manager>
    
	<beans:bean id="expiredSessionFilter" class="net.cloudengine.service.web.ExpiredSessionFilter"/>

	<beans:bean id="rememberMeServices" class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
        <beans:property name="userDetailsService" ref="userStore" />
        <beans:property name="tokenRepository" ref="tokenStore" />
        <beans:property name="cookieName" value="REMEMBER_ME" />
        <beans:property name="parameter" value="rememberme" />
        <beans:property name="key" value="rescuemeApp" />
    </beans:bean>
           
</beans:beans>